Package: com.rpetrich.powercuff
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 0.1
Depends: firmware (>= 12.0), mobilesubstrate (>= 0.9.5101), preferenceloader (>= 2.2.2)
Description: Select from additional low power device states
Name: Powercuff
Homepage: http://rpetri.ch/cydia/powercuff/
Depiction: http://rpetri.ch/cydia/powercuff/
Author: Ryan Petrich <rpetrich+powercuff@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
